@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.q2-box {
  width: 900px;
  background-color: #eff3f4;
  margin: 0 auto;
  padding: 20px;
}

.left-img {
  float: left;
  margin: 0 20px 10px 0;
}

.right-img {
  float: right;
  margin: 0 0 10px 20px;
}

.text {
  word-break: break-all;
  font-size: 18px;
  line-height: 22px;
}
/* 回答はここに書いてね */